{% extends "base.html.twig" %}

{% block body %}
    <article class="post page">
        <section class="archive-text-sec">
            <h1 class="post-nom">Web Developer / Programmer</h1>
            <p>I develop, design, and maintain efficient and secure websites.</p>
            <p>Most websites I make with WordPress as the backend so simpler tasks, such as creating blog posts or making simple edits, can be done by clients or delegated to less technologically-adept workers. Themes are made from the ground up using composer modules that simplify and make easier to understand common WordPress mechanics, like loading stylesheets and scripts, creating custom post types and options pages, and implementing WordPress menus. Most composer modules were self-made with unit testing using PHP Unit.</p>
            <p>I secure websites using security headers, content security policies, and security plugins. I am selective about what plugins I use in WordPress to keep the website lean and minimize vectors for security vulnerabilities.</p>
            <p>I make websites efficient using responsive image loading, caching, compression, minification, optimization, and simply being selective about what code to implement.</p>
            <p>I have made and maintained websites with e-commerce using WooCommerce and have made custom WordPress plugins and JavaScript scripts for handling particular client needs, such as survey tools.</p>
            <p>Non-programming responsibilities include copyediting, copywriting, and keyword research for SEO; social media management; blast email composition; and IT support.</p>
            <p>You can see much of the nonproprietary code I have made at <a href="https://github.com/waughjai">https://github.com/waughjai</a></p>
        </section>
        <section class="archive-projects-sec">
            <h2 class="post-nom">Projects</h2>
            <div class="archive-projects-list">
                {% for project in projects %}
                    <article class="project archive-project project-{{ project.slug }}">
                        <h1 class="project-nom"><a href="{{ project.url }}">{{ project.title }}</a></h1>
                        <div class="project-thumb"><a href="{{ project.url }}">{{ project.thumbnail }}</a></div>
                        <div class="project-sec project-summary">
                            <div class="project-summary-content">{{ function( "wpautop", project.excerpt ) }}</div>
                            <div class="btn-box"><a class="btn" href="{{ project.url }}">Learn more…</a></div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>
    </article>
{% endblock %}