{% extends "base.html.twig" %}

{% block body %}
    <article class="post page">
        <section class="archive-projects">
            <h2 class="sect-nom">Projects</h2>
            <div class="archive-projects-list">
                {% for project in projects %}
                    <article class="project archive-project project-{{ project.slug }}">
                        <h1 class="project-nom"><a href="{{ project.url }}">{{ project.title }}</a></h1>
                        <div class="project-thumb"><a href="{{ project.url }}">{{ project.thumbnail }}</a></div>
                        <div class="project-sec project-summary">
                            <div>{{ function( "wpautop", project.excerpt ) }}</div>
                            <div class="btn-box"><a class="btn" href="{{ project.url }}">Learn more…</a></div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>
    </article>
{% endblock %}