<!DOCTYPE html>
<html lang="en">
<head>
    {% for stylesheet in stylesheets %}
        <link href="{{ stylesheet.source }}" rel="stylesheet" />
    {% endfor %}
</head>
<body>
    <header>
        <div><img src="{{ header.logo.source }}" alt="{{ header.logo.alt }}">
        <nav>
            <ul>
                {% for link in header.nav %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <article>
        <h1>Jaimeson Waugh’s Portfolio</h1>
        {% for section in portfolio.sections %}
            <section>
                {{ section.content | raw }}
            </section>
        {% endfor %}
    </article>
    <footer>
        <div>© Jaimeson Waugh {{ footer.copyrightYear }}</div>
    </footer>
</body>
</html>